<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team</h1>
    <label>Team Name: <%= @name %></label><br/>
    <label>Coach: <%= @coach %></label><br/>
    <label>Point Guard: <%= @pg %></label><br/>
    <label>Power Forward: <%= @pf %></label><br/>
    <label>Shooting Guard: <%= @sg %></label><br/>
    <label>Small Forward: <%= @sf %></label><br/>
    <label>Center: <%= @c %></label>
 </body>
</html>


